.main {
    border: solid 1px #000000;
    padding: 5px;
    background-color: #f5f5f5;
}
.menu-buttonu {
    /* margin-top: 5px; */
    display: flex;
    justify-content: center;
}

.menu-buttonu button:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.menu-buttonu button {
    height: 30px;
    padding: 5px;
    margin-right: 2px;
}

.muayene-kaydet-button:hover{
    background-color: rgb(23, 121, 23) !important;
    /* color: white; */
}

.active {
    color: rgb(205, 19, 19);
    
}

.muayene-top {
    margin-top: 5px;
    display: flex;
}
.muayene-bottom {
    margin-top: 5px;
    display: flex;
}

.form-text {
    margin-right: 20px;
}
.sikayet {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.sikayet label {
    margin-right: 35px;
    
}
.hikaye {
    display: flex;
    align-items: center;
}
.hikaye label {
    margin-right: 40px;
}
.ozgecmis {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.ozgecmis label {
    margin-right: 20px;
}
.soygecmis {
    display: flex;
    align-items: center;
}
.soygecmis label {
    margin-right: 15px;
}
.sikayet-doktor select{
    margin-top: 20px;
    margin-left: 40px;
    width: 200px;
    text-align: left;
}
.sikayet-doktor input {
    margin-left: 5px;
}

.hikaye-doktor select{
    margin-top: 60px;
    margin-left: 40px;
    width: 200px;
    text-align: left;
}
.hikaye-doktor input {
    margin-left: 5px;
}

.ozgecmis-doktor select {
    margin-top: 20px;
    margin-left: 40px;
    width: 200px;
    text-align: left;
}
.ozgecmis-doktor input{
    margin-left: 5px;
}

.soygecmis-doktor select {
    margin-top: 60px;
    margin-left: 40px;
    width: 200px;
    text-align: left;
}
.soygecmis-doktor input {
    margin-left: 5px;
}

.alerji {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.alerji label {
    margin-right: 54px;
}

.sigara{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.sigara-label{
    margin-right: 40px;
}

.sigara label {
    margin-right: 5px;
}
#sigara-baslik {
    margin-right: 44px;
}
.sigara input {
    margin-left: 5px;
}

.grip-asisi {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#grip-baslik {
    margin-right: 24px;
}

.grip-asisi input {
    margin-right: 3px;
}

.grip-asisi label {
    margin-right: 5px;
}

.alt-menu {
    /* margin-top: 10px; */
    text-align: center;
}
.menu-button {
    width: 80px;
    height: 40px;
    margin-right: 2px;
    font-size: 11px;
    box-sizing: border-box;
}

.alt-menu button:hover {
    /* background-color: rgb(150, 195, 234); */
    background-color: #555;
    color: white;
    cursor: pointer;
}

.tani-ekle {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.tani-ekle label {
    margin-right: 65px;
}

.tani-ekle input {
    width: 708px;
}

#tani-turu {
    align-items: center;
}

.ilac-istem {
    display: flex;
    width: 100%;
}

.ilac-ekle {
    margin-top: 10px;
    display: flex;
    /* align-items: center; */
    width: 100%;
    alignItems:"flex-start";
}

.ilac-ekle label {
    margin-right: 69px;
}

.ilac-ekle input {
    width: 708px;
}

.istem-ekle {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
}
.istem-ekle label {
    margin-right: 55px;
}
.istem-ekle input {
    width: 708px;
}

.taniekle-table {
    margin-right: 10px ;
    width: 90%;
}


.icd-kodu {
    width: 26%;
    text-align: center;
}

.ilacekle-table {
    margin-right: 10px;
    width: 90%;
}

select:hover {
    cursor: pointer;
}


.ilac-adi-yeni {
    width: 45%;
}
.ilac-kodu-content-yeni {
    width: 36%;
}

.ilac-content-yeni {
    width: 45%;
}

.ilac-doz-yeni {
    width: 10%;
    text-align: center;
}
.doz-sil {
    width: 9%;
}

.ilac-doz-content-yeni {
    width: 10%;
    text-align: center;
}

.istemekle-table {
    margin-right: 10px;
    width: 90%;
    
}

.hizmet-kodu-baslik {
    width: 26%;
    text-align: center;
}

.hizmet-kodu {
    width: 26%;
    text-align: center;
}
.istem-adi-baslik {
    width: 65%;
}
.istem-adi {
    width: 65%;
}
.alt-menu-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
    margin-bottom: -1px;
}
.alt-menu-tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 6px 6px 0 0;
    margin: 4px 2px 0 2px;
}
.alt-menu-tab button:hover{
    background-color: #509af5;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
.alt-menu-tab button.active {
    background-color: #509af5;
    color: white;
    border: 1px solid #509af5;
    border-bottom: none;
    position: relative;
    top: 1px;
}
.tab-content{
    height: 200px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    display: block;
    margin-bottom: 10px;
    border-radius: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.sil-buton {
    width: 60px;
    text-align: center;
}

.sil-buton button {
    width: 35px;
}

.sil-buton button:hover {
    background-color: firebrick;
    color: #f5f5f5;
    cursor: pointer;
}


