.mainDiv{
    display: grid;
    place-items: center;
    /* height: 650px; */
}

.mainCard{
    margin: 10px;
    padding: 10px;
    width: 350px;
    
}

.mainCardH2{
    text-align: center;
    padding: 5px;
}

.backButton{
    padding: 10px;
    display: grid;
    place-items: center;
}

.detaySpan{
    color: #1976d2;
    font-weight: bold;
}
.custom-header{
    background-color: #c2c2c2;
    color: hsl(0, 0%, 3%);
}

