.main-klinik {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #f5f5f5;
    color: #000; */
    background-color: #f0f8ff;
    color: #2196f3;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 520px;
    width: 880px;
    border: 2px solid #000000;
}

.klinik-content {
    padding: 2px;
    height: 435px;
}

.main-klinik input, .main-klinik select {
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-klinik textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin: 8px 0;*/
    padding: 2px;
    display: inline-block;
}

.baslik{
    text-align: center;
    background-color: #509af5;
    margin-bottom: 5px;
    color: white;
    font-size: large;
}

.hasta-bilgileri {
    margin-top: 5px;
}

.hasta-bilgileri label {
    margin-right: 5px;
}

.hasta-bilgileri input {
    width: 700px;
}

.tarih-saat {
    display: flex;
    margin-left: 14px;
    margin-top: 5px;
}
.tarih-saat label {
    margin-right: 20px;
}
.tarih-saat input {
    width: 188px;
    text-align: center;
}

.doktor {
    display: flex;
    margin-left: 14px;
    margin-top: 5px;
}

.doktor label {
    margin-right: 5px;
}

.konsultan {
    margin-left: 10px;
    margin-right: 5px;
}

.asistan {
    margin-left: 10px;
    margin-right: 5px;
}

.bulgular {
    margin-top: 5px;
}
.bulgular textarea {
    margin-top: 2px;
}

.tetkik {
    margin-top: 2px;
}
.tetkik textarea {
    margin-top: 2px;
}

.tedavi {
    margin-top: 2px;
}

.tedavi textarea {
    margin-top: 2px;
}

.window-button {
    display: flex;
    justify-content: center;
}
.window-button button {
    margin-top: 10px;
    width: 50px;
    height: 30px;
}

.window-button button:hover {
    background-color: rgb(15, 106, 15);
    cursor: pointer;
    color: white;
}


