.tani-ekle-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    color: #000;
    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 500px;
    border: 2px solid #000000;
}
.close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;    
    font-size: 12px;
    
}
.add-button{
    margin-top: 10px;
    height: 30px;
    width: 40px ;
 }
.scrollable-liste {
    max-height: 300px;
    overflow-y: scroll;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.sec-baslik {
    width: 10%;
}
.chec-content {
    width: 10%;
}

.icd-baslik {
    width: 15%;
}

.icd-content {
    width: 15%;
}

thead {
    display: table;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
tbody {
    display: table;
    width: 100%;
    overflow: auto;
}

.checkbox-item input {
    margin-right: 5px;
}

.ilac-raporu-tablolar {
    display: flex;
}
.ilac-raporu-tablo-tani {
    margin-top: 5px;
}
